/*
* estilos generales
*/
#chartSeguridad, #chartSalud, #chartRescate{
	width: 600px !important;
	height: 400px !important;
	max-height:  600px !important;
	max-height: 400px !important;
}
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.clear{
    clear: both !important;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    color: #ccc;
    background:black;
    text-align: center;
}

/*
* estilos barra lateral
*/
.social{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 41%;
}

.estadisticas{
    position: fixed;
    z-index: 1;
    right: 0;
    top: 41%;
}

.social ul, .estadisticas ul{
    list-style: none;
    margin-bottom: 0;
}

.social ul li button,.estadisticas ul li button{
    display: inline-block !important;
    padding: 10px 15px !important;
    color: white !important;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
}

.estadisticas ul li button{
    border-radius: 4px 0px 0px 4px;
}

.social ul li button:hover{
    padding: 10px 30px !important;
    background-color: black !important;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.estadisticas ul li button:hover{
	height: 80px;
	background-color: black !important;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .glyphicon-scale, .glyphicon-bullhorn{
    background: #ffa200 !important;;
}

.social ul li .glyphicon-heart-empty, .glyphicon-tower{
    background: #ff4172 !important;;
}

.social ul li .glyphicon-user, .glyphicon-tree-conifer {
    background: #2bc8ae !important;;
}

.social ul li .glyphicon-plus{
    background: #49a5ff !important;
}
    /*
    * Estilos panel del control
    */
.span2{
    display: inline-block;
    margin: 10px 15px !important;
    width: 100px;
    text-transform: uppercase;
    font-family: monospace;
}

.slider.slider-horizontal{
    width: 150px;
}

/*estilos asistente virtual*/
#asistenteVirtual{
    color: #00ff00;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 20px;
}

#asistenteVirtual:hover{
    opacity: .8;
}

.introjs-helperNumberLayer {
    top: 4px;
    left: 8px;
    height: 23px;
    padding: 0;
    line-height: 19px;
}

.parsley-errors-list{
    color: red;
}

/*Estilos tabla*/
.derrumbado{
    background-color: rgba(227, 10, 10, 0.08);
    padding: 10px 60px;
    border: solid #d42525 1px;
    border-radius: 5px;
    color: #cc1717;
    text-align: center;
}

.enpie{
    background-color: rgba(10, 120, 227, 0.1);
    padding: 10px 60px;
    border: solid #179fcc;
    border-radius: 5px;
    color: #179fcc;
    text-align: center;
}
table {
    border-collapse: collapse;
    border: solid 1px gray;
    width: 100%;
}

th, td {
    text-align: left;
    border: solid 1px black;
    padding: 8px;
}

tr:hover {
	background-color: #ccc;
}

tr:nth-child(even){background-color: #f2f2f2}

.progress {
    height: 5px;
    margin-bottom: 0px;
    border-radius: 0px;